BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
IOBUF PORT "i_clock" IO_TYPE=LVCMOS33 ;
IOBUF PORT "clock" IO_TYPE=LVCMOS33 ;
IOBUF PORT "data" IO_TYPE=LVCMOS33 ;
IOBUF PORT "st" IO_TYPE=LVCMOS33 ;
LOCATE COMP "clock" SITE "40" ;
LOCATE COMP "data" SITE "44" ;
LOCATE COMP "st" SITE "53" ;
LOCATE COMP "i_clock" SITE "69" ;
VOLTAGE 2.375 V;
IOBUF PORT "o_led_d10" IO_TYPE=LVCMOS33 ;
IOBUF PORT "o_led_d11" IO_TYPE=LVCMOS33 ;
IOBUF PORT "o_led_d12" IO_TYPE=LVCMOS33 ;
IOBUF PORT "o_led_d13" IO_TYPE=LVCMOS33 ;
LOCATE COMP "i_switch_s1" SITE "63" ;
IOBUF PORT "i_switch_s1" IO_TYPE=LVCMOS33 ;
IOBUF PORT "i_switch_s2" IO_TYPE=LVCMOS33 ;
IOBUF PORT "i_switch_s3" IO_TYPE=LVCMOS33 ;
LOCATE COMP "i_switch_s2" SITE "59" ;
LOCATE COMP "i_switch_s3" SITE "58" ;
LOCATE COMP "o_led_d10" SITE "16" ;
SYSCONFIG SLAVE_SPI_PORT=DISABLE ;
LOCATE COMP "o_led_d11" SITE "36" ;
LOCATE COMP "o_led_d12" SITE "20" ;
LOCATE COMP "o_led_d13" SITE "19" ;
