BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "clk" SITE "69" ;
SYSCONFIG SLAVE_SPI_PORT=DISABLE ;
LOCATE COMP "clock_i" SITE "20" ;
LOCATE COMP "data_i" SITE "35" ;
LOCATE COMP "st_i" SITE "36" ;
LOCATE COMP "o_led_d1" SITE "28" ;
LOCATE COMP "o_led_d2" SITE "30" ;
LOCATE COMP "o_led_d3" SITE "31" ;
LOCATE COMP "servo_a" SITE "44" ;
LOCATE COMP "servo_b" SITE "40" ;
LOCATE COMP "servo_c" SITE "38" ;
IOBUF PORT "clk" IO_TYPE=LVCMOS33 ;
IOBUF PORT "clock_i" IO_TYPE=LVCMOS33 ;
IOBUF PORT "data_i" IO_TYPE=LVCMOS33 ;
IOBUF PORT "st_i" IO_TYPE=LVCMOS33 ;
IOBUF PORT "o_led_d1" IO_TYPE=LVCMOS33 ;
IOBUF PORT "o_led_d2" IO_TYPE=LVCMOS33 ;
IOBUF PORT "o_led_d3" IO_TYPE=LVCMOS33 ;
IOBUF PORT "servo_a" IO_TYPE=LVCMOS33 ;
IOBUF PORT "servo_b" IO_TYPE=LVCMOS33 ;
IOBUF PORT "servo_c" IO_TYPE=LVCMOS33 ;
